img {
  padding-top: 20px;
  width: 400px;
  margin-left: 20px;
}

body {
  margin: 0;
  background-color: #fffdef;
  color: #000;
}

/********** Fonts /***************/
.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}

.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-family: "Gloock", serif;
  text-align: center;
  color: #ed7252;
  font-size: 30px;
}

h2 {
  text-align: center;
  color: #ed7252;
}

p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Lekton", monospace;
  font-style: normal;
  padding-left: 60px;
  margin-right: 60px;
  max-width: 500px;
}

.knap {
  display: inline-block;
  color: #ee5b25;
  border: 1px solid #ee5b25;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 60px;
  padding: 10px 24px;
  text-decoration: none;
  font-family: "Gloock", serif;
}

.knap:hover {
  background-color: #e94e1b;
  color: white;
}

/********** Footer ***********/
footer {
  background-color: #e99477; /* den farve du bruger */
  width: 100%;
  padding: 40px 0; /* højde og lidt luft inde i footeren */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-align: center;
}

.social-icons a {
  color: black;
  font-size: 20px; /* gør ikonerne større */
  margin: 5px; /* lidt afstand imellem */
  text-decoration: none;
}

@media (max-width: 800px) {
  .social-icons {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
  }
}
.navigation-links {
  display: flex;
  justify-content: space-between; /* placer links i hver sin side */
  align-items: center;
  padding: 0 250px;
  margin-top: 50px; /* valgfri afstand opad */
}

.nav-link {
  text-decoration: none; /* fjern understregning */
  color: #e19474; /* samme farve som i billedet */
  font-size: 17px;
  font-family: "Gloock", serif;
  border-bottom: 2px solid #e19474; /* lav en fin streg under */
  padding-bottom: 2px;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #ee5b25; /* mørkere farve ved hover */
}

@media (max-width: 800px) {
  .navigation-links {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/************ Nav bar & menu *************/
.logo img {
  width: 40px;
  height: 25px;
}

header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fffdef;
  font-weight: 700;
  font-style: normal;
}

header,
header a {
  text-decoration: none;
  color: #e19474;
}

nav {
  display: flex;
  align-items: center;
  font-size: large;
  margin-left: auto; /* dette flytter nav til højre */
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Gloock", serif;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 5px;
  color: #e99477;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a.active {
  border-bottom: 2px solid#e99477;
  padding-bottom: 5px;
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #e99477;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #fffdef;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    z-index: 10000;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .menu a.active {
    border-bottom: 0;
  }
}

/************* Forside ************/

.portfolio-title {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
}

.portfolio h1 {
  font-size: 100px;
  text-align: center;
  color: #000000;
}

.navn h2 {
  margin-bottom: -100px;
  text-align: center;
  margin-left: 103px;
  color: #ed7252;
  font-size: 35px;
  font-family: "Brush Script MT", cursive;
  font-style: normal;
  font-weight: 10;
  top: 100px;
  position: relative;
}

.knap-link {
  display: inline-block;
  color: #ee5b25;
  border: 1px solid #ee5b25;
  margin-bottom: 50px;
  margin-left: 60px;
  padding: 10px 24px;
  text-decoration: none;
  font-family: "Gloock", serif;
}

.knap-link:hover {
  background-color: #e94e1b;
  color: white;
}

@media (min-width: 800px) {
  .portfolio h1 {
    font-size: 250px;
    margin-bottom: -1px;
    margin-top: -10px;
    padding-bottom: 20px;
  }
  .navn h2 {
    font-size: 100px;
    margin-left: 320px;
    bottom: -800px;
    margin-bottom: -100px;
    top: 190px;
  }
  .forside-navn {
    margin-bottom: -1px;
  }
  .forside-intro {
    padding-left: 110px;
  }
  .knap-link {
    margin-left: 170px;
  }
}

/************* Portfolio **************/
.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 50px;
  margin-right: 30px;
  margin-left: 50px;
  max-width: 400px;
  background-color: #e0d1bc;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.grid-1-1:hover {
  background-color: #e0d1bc;
  color: #e94e1b;
}

a {
  text-decoration: none;
}
@media (min-width: 800px) {
  .grid-1-1 {
    margin-left: 500px;
  }
}

/************* OM mig ***************/
.img-1 {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
}

.img-1 img {
  width: 350px;
  height: 430px;
}
.grid-container_2 {
  margin-top: 80px;
  padding: 20px;
  background-color: #e0d1bc;
  margin-bottom: 80px;
}

@media (min-width: 800px) {
  .grid-container_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-1 {
    margin-right: 150px;
  }
  .text-1 {
    margin-left: 150px;
  }

  .text-1 h2 {
    margin-left: -270px;
  }

  .text-2 {
    margin-left: 130px;
  }

  .text-3 {
    margin-right: 130px;
  }

  .text-2-1 h2 {
    margin-left: -55px;
  }
  .text-3-1 h2 {
    margin-left: -240px;
  }
}

/************* Grundlæggende web **********/

.img-web-1 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}
.img-web-2 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 60px;
  max-width: 100%;
  margin-left: 80px;
}

.text-web-1 h1 {
  margin-bottom: 100px;
}

.text-web-2 {
  margin-bottom: 80px;
}
.next-link {
  margin-left: 107px;
}

@media (min-width: 800px) {
  .grid-web-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }
  .grid-web-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .img-web-1 img {
    padding-top: 80px;
    margin-right: 200px;
  }

  .img-web-2 {
    padding-top: 70px;
    margin-left: 250px;
    margin-bottom: 40px;
  }

  .text-web-1 {
    margin-left: 200px;
  }

  .text-web-2 {
    margin-right: 200px;
  }

  .text-web-1 h2 {
    text-align: justify;
    padding-left: 60px;
  }
  .text-web-2 h2 {
    text-align: justify;
    padding-left: 60px;
  }
}
@media (min-width: 800px) {
  .next-link {
    display: flex;
    justify-content: end; /* placer links i hver sin side */
    padding: 0 250px;
    margin-top: 50px; /* valgfri afstand opad */
  }
}

.web-link {
  text-decoration: none; /* fjern understregning */
  color: #e19474; /* samme farve som i billedet */
  font-size: 17px;
  font-family: "Gloock", serif;
  border-bottom: 2px solid #e19474; /* lav en fin streg under */
  padding-bottom: 2px;
  transition: color 0.2s ease;
  margin-left: 370px;
}

.web-link:hover {
  color: #ee5b25; /* mørkere farve ved hover */
}

/********* Grundlæggende Ux/Ui ***********/
.img-ux-ui-1 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}
.img-ux-ui-2 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}

@media (min-width: 800px) {
  .grid-ux-ui-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }
  .grid-ux-ui-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .img-ux-ui-1 {
    padding-top: 70px;
    padding-right: 250px;
  }

  .img-ux-ui-2 {
    padding-top: 70px;
    margin-left: 250px;
  }

  .text-ux-ui-1 h2 {
    text-align: justify;
    padding-left: 60px;
  }
  .text-ux-ui-2 h2 {
    text-align: justify;
    padding-left: 60px;
  }

  .text-ux-ui-1 {
    margin-left: 200px;
  }

  .text-ux-ui-2 {
    margin-right: 200px;
  }
}

/********** Grundlæggende animation ***********/
.img-animation-1 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}
.img-animation-2 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}

.grid-animation-3 img {
  width: 100%;
  max-width: 50px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.grid-animation-3 {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 40px;
  margin-left: 130px;
}

@media (min-width: 800px) {
  .grid-animation-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }
  .grid-animation-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .img-animation-1 {
    padding-top: 70px;
    padding-right: 250px;
  }

  .img-animation-2 {
    padding-top: 70px;
    margin-left: 250px;
  }

  .text-animation-1 h2 {
    text-align: justify;
    padding-left: 60px;
  }
  .text-animation-2 h2 {
    text-align: justify;
    padding-left: 60px;
  }

  .text-animation-1 {
    margin-left: 200px;
  }

  .text-animation-2 {
    margin-right: 200px;
  }

  .grid-animation-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 400px;
  }

  .grid-animation-3 img {
    max-width: 100px;
    height: auto;
    margin-left: -100px;
    margin-bottom: 100px;
  }
}

/********** Grundlæggende indhold ***********/

.img-indhold-1 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}

.img-indhold-2 img {
  display: flex;
  justify-content: center; /* centrer horisontalt */
  align-items: center; /* centrer vertikalt */
  margin-bottom: 40px;
  max-width: 100%;
  margin-left: 80px;
}

@media (min-width: 800px) {
  .grid-indhold-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .grid-indhold-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .text-indhold-1 h2 {
    text-align: justify;
    padding-left: 60px;
  }
  .text-indhold-2 h2 {
    text-align: justify;
    padding-left: 60px;
  }

  .text-indhold-1 {
    margin-left: 200px;
  }

  .text-indhold-2 {
    margin-right: 200px;
  }

  .img-indhold-1 {
    padding-top: 70px;
    padding-right: 250px;
  }

  .img-indhold-2 {
    padding-top: 70px;
    margin-left: 250px;
  }
}
